<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLSP hub | Tipix</title>
    <link rel="icon" type="image/png" href="/img/logo.svg">
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <%- include('../../blocks/header') %>
    <main>
        <section id="root">
            <h1>OLSP hub</h1>
            <label>start small</label>
            <a href="/p/OLSP/upload">upload</a>
        </section>
        <div class="container">
        <h2>OLSP Packages</h2>

        <% packages.forEach(pkg => { %>
            <div class="block">
            <h3><%= pkg.name %></h3>
            <p><%= pkg.description %></p>

            <p>Version: <%= pkg.version %></p>
            <p>Author: <%= pkg.author %></p>

            <a href="/pkg/<%= pkg.name %>/<%= pkg.version %>" class="btn">Download</a>
            <a href="/pkg/<%= pkg.name %>/latest" class="btn">Latest</a>
            </div>
        <% }) %>
        </div>
    </main>
    <%- include('../../blocks/footer') %>

</body>
</html>